@model Vidly.ViewModels.MovieViewModel
<h1>@Model.Movie.Name</h1>
<ul>
    <li>Copies in stock: @Model.Movie.InStock</li>
    <li>Genre: @Model.Movie.Genre.Name</li>
    <li>Release Date: @Model.Movie.ReleaseDate</li>
    <li>Date Aquired: @Model.Movie.DateAdded</li>
</ul>